@page "/Identity/Account/Manage/MyGroup"

<h3>GroupPage</h3>

<MatSelect Label="Ваша группа" @bind-Value="@Selected">
    <MatOptionString Value=""></MatOptionString>
    @foreach (var item in s)
    {
        <MatOptionString Value="@item">@item</MatOptionString>
    }
</MatSelect>
<p>
    <MatStringField @bind-Value="@TempValue" Label="Текст"></MatStringField>
    <MatButton OnClick="@Click">Добавить</MatButton>
</p>
<br />
<p>@Selected</p>